{% extends "base.html" %}

{% block css %} {% endblock%}

{% block main %}
<div class="card-body">
    <div class="profile-header">
        <img src="{{ url_for('static', filename='images/simo-design-logo.png') }}" alt="profile-photo" id= "profile-photo">
        <h3>Mary Jane</h3>
        <h4>
            @mjane <br>
            Kingston, Jamaica <br>
            Joined January, 2018 <br>
        </h4>
    </div>
    <div class="profile-desc">
        <p class="desc"> I am a smart talented student who loves website design and development. 
            Contact me if you would like to work together on a new project</p>
        <ul class = "ul-container">
				
				<li class = "posts"> {{posts}} Posts </li>

				<li class = "following"> {{following}} Following </li>

				<li class = "followers"> {{followers}} Followers </li>
        </ul>
        <button class="button">Follow</button>
       
    </div>
</div>
{% endblock %}